<launch>
  <!-- include empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="true" />
  </include>
  <arg name="pitch" value="$(eval 3.14/2)" />

  <!-- spawn a camera for testing -->
  <include
    file="$(find autobots_realsense2_description)/launch/d435_camera_model.launch"
  >
    <arg name="spawn_args" value="-z 1 -P $(arg pitch)" />
  </include>

  <include
    file="$(find autobots_calibration)/launch/aruco_gazebo_harness.launch"
  />

  <param
    name="aruco_tile_description"
    textfile="$(find autobots_calibration)/models/aruco_tile/description.sdf"
  />
  <node
    name="model_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    output="screen"
    args="
      -sdf
      -param aruco_tile_description
      -model aruco_tile
    "
  />
</launch>
