<launch>
  <arg name="rviz" default="true" />
  <arg name="spawn_args" default="-x 0 -y 0 -z 1.00" />

  <include file="$(find finalarm_gazebo)/launch/robot_world.launch">
      <arg name="spawn_args" value="$(arg spawn_args)" />
  </include>

  <include file="$(find finalarm_moveit_config)/launch/move_group.launch" />

  <!-- Load the RGBD camera -->
  <include
    file="$(find autobots_realsense2_description)/launch/d435_camera_model.launch"
  >
    <arg
      name="spawn_args"
      value="-x -0.25 -y 0.65 -z 1.66 -R 0.2 -P 0.75 -Y -0.5"
    />
  </include>

  <!-- Load a table into the scene, rotated 90 degrees and offset from center -->
  <param
    name="table_description"
    textfile="$(find autobots_handy_simulation)/models/table/model.sdf"
  />
  <node
    name="model_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    output="screen"
    args="
      -sdf
      -param table_description
      -model table
      -unpause
      -x 0.5
      -Y 1.57
    "
  />

  <!-- run the calibration -->
  <include
    file="$(find autobots_calibration)/launch/aruco_gazebo_harness.launch"
  />
  <include file="$(find autobots_calibration)/launch/spawn_aruco_tile.launch">
    <!-- put the tile on the table in front of the robot -->
    <arg name="spawn_args" value="-x 0.5 -z 1.03" />
  </include>
  <node
    pkg="tf2_ros"
    type="static_transform_publisher"
    name="aurco_to_world"
    args="-0.5 0 -1.03 0 0 0 aruco_tile/base_link world"
  />
  <include file="$(find autobots_calibration)/launch/calibrate_camera.launch" />

  <!-- load rviz -->
  <include
    file="$(find autobots_handy_simulation)/launch/rviz.launch"
    if="$(arg rviz)"
  />
</launch>
