<launch>
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="gui" default="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="worlds/empty.world" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
    </include>

    <!-- Load the RGBD camera -->
    <include
    file="$(find autobots_realsense2_description)/launch/d435_camera_model.launch"
  >
        <arg name="spawn_args" value="-x 1.0 -y 2.0 -z 0.0 -P 0.2" />
    </include>

    <!-- Load handy -->
    <include
    file="$(find autobots_handy_simulation)/launch/handy_moveit.launch"
  />

    <!-- Load rviz -->
    <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find realsense2_description)/rviz/urdf.rviz"
    required="true"
    if="$(arg gui)"
  />
</launch>
